*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(63, 60, 60);
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}